{% extends 'home.template.html' %}

{% block content %}

<h1> Contact Us </h1>
	<form method="POST">
		<label for="name">Name</label><br />
            <input name="name" type="text" value="Frank" /> <br />
            <input name="sex" type="radio" value="male" checked="checked" /> Male <br />
            <input name="sex" type="radio" value="female" /> Female <br />
            <textarea name="comment" cols="30" rows="2" >Comment</textarea><br />
        <label>Can we spam you?</label>
        <select name="can-contact"> 
            <option selected="selected" value="1">Yes</option>
            <option value="2">No</option>
        </select><br />
		<input name="democheckbox" type="checkbox" value="accept" /> Accept terms and conditions?<br />
		<button type="submit" value="Submit">Submit</button>
	</form>

{% endblock %}
